<%= form_for [@event, Request.new], namespace: [:event, @event.id], remote: true do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    Number of Tickets
    <%= f.select :num_tickets, 1..100 %>
  </div>
  <div>
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>
  <div>
    <%= f.submit 'Alice, Get Me Tickets!' %>
<% end %>
