<!DOCTYPE html>
<html>
<head>
  <title>Alice In Korea</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='admin_panel'>
  <div>
    <%= link_to 'Dashboard', admin_url %>
  </div>
  <div>
    <%= link_to 'Events', admin_events_url %>
  </div>
  <div>
    <%= link_to 'Requests', admin_requests_url %>
  </div>
</div>
<%= yield %>

</body>
</html>
